include HACKING LICENSE run_tests.py run_tests.sh
include README builddeb.sh
include ChangeLog MANIFEST.in pylintrc Authors
include melange/db/sqlalchemy/migrate_repo/migrate.cfg
include melange/db/sqlalchemy/migrate_repo/README
include melange/db/sqlalchemy/migrate_repo/versions/*.sql
graft doc
graft tools
graft etc
graft po
global-exclude *.pyc
